.attempt-page {
  padding: 20px;
  max-width: 600px;
  background-color: #0d1b2a; /* Lighter but still dark forefront */
  color: #ffffff; /* Light text color */
}

.back-button {
  background-color: #4169e1; /* Royal blue */
  color: #ffffff; /* Light text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.back-button:hover {
  background-color: #fc8600; /* Firebase orange on hover */
}

.attempt-page h2 {
  margin-top: 0;
  color: #ffffff; /* Light text color */
}

.attempt-page .score-text {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: #ffffff; /* Light text color for the "Score" text */
}

.attempt-page .score-value.red {
  color: #4169e1; /* Royal blue color for low scores */
}

.attempt-page .score-value.green {
  color: #03dac6; /* Green color for high scores */
}

.attempt-page .score-value {
  font-weight: bold;
}

.attempt-page ul {
  list-style-type: none;
  padding: 0;
}

.attempt-page li {
  margin-bottom: 15px;
  color: #ffffff; /* Light text color */
}

.attempt-page .response-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.attempt-page .response-title {
  font-weight: bold;
  min-width: 150px; /* Adjust as necessary */
}

.attempt-page .status-value.red {
  color: #4169e1; /* Royal blue color for incorrect status */
}

.attempt-page .status-value.green {
  color: #03dac6; /* Green color for correct status */
}

.attempt-page hr {
  border: 0;
  border-top: 1px solid #444444; /* Dark line color */
  margin: 15px 0;
}

.attempt-page .attempt-id {
  font-size: 0.8rem;
  margin-top: 20px;
  color: #bbbbbb; /* Light gray color */
}
