.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px); /* Adjust based on header height */
  padding: 20px;
}

.login-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #dd3730;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #a96a59;
}
