.pdf-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.pdf-form h2 {
  color: #ffffff; /* Light text color */
}

.pdf-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.pdf-form input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #444444; /* Dark border color */
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #333333; /* Dark input background */
  color: #ffffff; /* Light text color */
}

/* Placeholder styling */
.pdf-form input::placeholder {
  font-style: italic;
  color: rgba(255, 255, 255, 0.6); /* Adjust the color and opacity as needed */
}

.pdf-form button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #dd3730; /* Accent color */
  color: #ffffff; /* Light text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.pdf-form button:hover {
  background-color: #a96a59; /* Darker accent color on hover */
}
