/* SelectionPage.css */

.selection-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px); /* Adjust based on header height */
  padding: 20px;
}

.selection-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Added this line */
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.selection-options h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ffffff; /* Change the color to white */
}

.selection-options button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #dd3730;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
}

.selection-options button:hover {
  background-color: #a96a59;
}

.selection-options button:disabled {
  background-color: #ccc;
}
